html, body{
    height: 100%;
    width: 100%;
}

#myCarousel,
        .carousel-inner,
        .carousel-item,
        .carousel-item.active{
          height: 100vh !important;
          background-color: black;
}

.carousel-item:nth-child(1){
  background-image: url('images/subpage7.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0.6;
}

.carousel-item:nth-child(2){
  background-image: url('images/subpage5.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.carousel-item:nth-child(3){
  background-image: url('images/subpage4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@media (min-width: 992px){
    #introCarousel {
      margin-top: -58.59px;
    }
}